/* Global Styles */


header {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  background-image: url(images/boats.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100%;
  color: white;
}

body {
  margin: 0;
  background: white;
  font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer {
  text-align: center;
  color: white;
  background-color: #38576e;
  width: 100%;
}

.text-vertical-center {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}


.screenshot {
  width: 400px;
  position: relative;
  overflow: hidden;
  display: inline-block;
  margin: 0 10px 10px 0;
}

.screenshot .title {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: transparent;
  color: black;
  font-weight: bold;
  font-size: 40px;
  opacity: 0;
  z-index: 1;
  transition: opacity .2s;
}

.screenshot img {
  width: 100%;
  transition: opacity .2s;
}

.screenshot a {
  display: block;
}

.screenshot a:hover img {
  opacity: 0.3;
}

.screenshot a:hover .title {
  opacity: 1;
}

/* Class Styles */

.name {
  font-weight: 700;
  margin: 0;
  padding: 0;
  text-align: center;
  font-size: 25px;
  font: 400 130px/0.8 'Great Vibes', Helvetica, sans-serif;
  color: #FFF;
  text-shadow: 4px 4px 3px rgba(0,0,0,0.1);
  vertical-align: middle;
}

.icons {
  display: block;
  box-sizing: border-box;
  padding: 0;
}

.icon {
  display: inline;
  list-style: none;
  margin-left: 20px;
}

.icon:first-child {
  margin: 0;
}

.icon i {
  color: #FFF;
}

.down-arrow {
  text-align: center;
  position: absolute;
  bottom: 20px;
  width: 100%;
}

h2 {
  text-align: center; 
}

.projects {
  text-align: center;
  font-size: 40px;
  max-width: 900px;
}

.down-arrow {
  height: 42px;
  width: 42px;
}


@media screen and (max-width: 800px){
  .name {
    font-size: 3.5em;
  }
  .position {
    font-weight: 400;
  }
  .icon {
    margin-left: 10px;
  }
  .icon i {
    font-size: 2em;
  }
  footer {
    font-size: 13px;
  }
}
