/* Global Styles */


body {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  background-image: url(images/boats.JPG);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100%;
  color: white;
}

.text-vertical-center {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

/* Class Styles */

.name {
  font-size: 4.5em;
  font-weight: 700;
  margin: 0;
  padding: 0;
  text-align: center;
  font-size: 25px;
  font: 400 130px/0.8 'Great Vibes', Helvetica, sans-serif;
  color: #FFF;
  text-shadow: 4px 4px 3px rgba(0,0,0,0.1);
  vertical-align: middle;
}

.icons {
  display: block;
  box-sizing: border-box;
}

.icon {
  display: inline;
  list-style: none;
  margin-left: 20px;
}

.icon i {
  color: #FFF;
}

#footer {
  text-align: center;
  position: absolute;
  bottom: 0;
  width: 100%;
}
